<div class="mx-12 my-6 lg:block hidden ">
    <div class="flex py-4 relative">
        <div class="1/5 flex mr-5 flex-col justify-between ">
            <div class="flex flex-col">
                <div class="bg-gray-100 h-16 w-36 mb-3">
                    <img src="../../../assets/logo.png" class="w-full h-full" alt=""/>
                </div>
                <ul class="flex pl-0">
                    <li class="h-7 w-7 bg-gray-100 mr-3"><img src="../../../assets/icon-mxs.png" class="w-full h-full" alt=""/></li>
                    <li class="h-7 w-7 bg-gray-100 mr-3"><img src="../../../assets/icon-mxs.png" class="w-full h-full" alt=""/></li>
                    <li class="h-7 w-7 bg-gray-100"><img src="../../../assets/icon-mxs.png" class="w-full h-full" alt=""/></li>
    
                </ul>
            </div>
            <div class="bg-gray-100 h-20 w-72">
                <img src="../../../assets/bo-cong-thuong.png" class="w-full h-full" alt=""/>
            </div>
        </div>
        <div class="w-4/5 ml-5">
            <div class="flex justify-between pb-3 relative">
                <div class="flex flex-col justify-between">
                    <a href="" class="uppercase text-black">chính sách giao hàng và thanh toán</a>
                    <a href="" class="uppercase text-black ">Chính sách bảo mật</a>
    
                </div>
                <div class="flex flex-col justify-between">
                    <a href="" class="uppercase text-black">Chính sách mua hàng</a>
                    <a href="" class="uppercase text-black mt-4">Chính sách trả hàng</a>
    
                </div>
                <div class="flex flex-col">
                    <a href="" class="uppercase text-black">THỜI GIAN LÀM VIỆC: 
                        8h-17h00, từ thứ 2 – thứ 7</a>
                    <a href="" class="uppercase text-black my-2">HOTLINE: 
                        0868399649
                        </a>
                    <a href="" class=" text-black">EMAIL: info@sharynkorea.vn</a>
    
                </div>
                <div class="absolute w-full bg-black left-0 bottom-0" style="height: 1px;">
    
                </div>
            </div>
    
            <div class="flex justify-between pt-3">
                <div class="pt-2 flex flex-col justify-end">
                   
                        <h2 class="uppercase mb-2 uppercase"> công tY TNHH SHARYN VIỆT NAM</h2>
                    <ul class="pl-0 mb-0">
                        <li>GIẤY CNĐKDN:</li>
                        <li>Ngày Cấp:</li>
                        <li>Cơ quan cấp:</li>
                        <li>Địa chỉ đăng ký kinh doanh:</li>
                    </ul>
                </div>
                <div class="h-36 mt-2 bg-gray-100 w-72 text-black">Iframe Facebook</div>
            </div>
        </div>
        <div class="absolute top-0 left-0 bg-black w-full" style="height: 1px;"></div>
        <div class="absolute bottom-0 left-0 bg-black w-full" style="height: 1px;"></div>
    </div>
    <div class="pt-5 flex justify-center items-center pb-5">
        <span class="uppercase">&copy; sharyn - design by dsep</span>
    </div>
</div>
<div class="lg:hidden container bg-gray-500 pb-5 ">
    <div class="flex flex-col pt-5">
        <div class="bg-gray-100 h-16 w-36 mb-3">
            <img src="../../../assets/logo.png" class="w-full h-full" alt=""/>
        </div>
        <ul class="flex pl-0 w-36 justify-between">
            <li class="h-7 w-7 bg-gray-100 mr-3"><img src="../../../assets/icon-mxs.png" class="w-full h-full" alt=""/></li>
            <li class="h-7 w-7 bg-gray-100 mr-3"><img src="../../../assets/icon-mxs.png" class="w-full h-full" alt=""/></li>
            <li class="h-7 w-7 bg-gray-100"><img src="../../../assets/icon-mxs.png" class="w-full h-full" alt=""/></li>

        </ul>
    </div>
    <div class="flex flex-col pt-3 ">
        <div class="flex flex-col relative">
            <a href="" class="uppercase text-white text-xs mb-2">chính sách giao hàng và thanh toán</a>
            <a href="" class="uppercase text-white text-xs mb-2 ">Chính sách bảo mật</a>
            <a href="" class="uppercase text-white text-xs mb-2">Chính sách mua hàng</a>
            <a href="" class="uppercase text-white text-xs mb-2 ">Chính sách trả hàng</a>
            <div class="absolute w-full bg-white left-0 bottom-0" style="height: 1px;">

            </div>
        </div>
        
        <div class="flex flex-col relative pt-3">
           
                   
                <p class="uppercase mb-2 uppercase text-white"> công tY TNHH SHARYN VIỆT NAM</p>
            <ul class="pl-0 mb-0">
                <li class="mb-2 text-white text-xs">GIẤY CNĐKDN:</li>
                <li class="mb-2 text-white text-xs">Ngày Cấp:</li>
                <li class="mb-2 text-white text-xs">Cơ quan cấp:</li>
                <li class="mb-2 text-white text-xs">Địa chỉ đăng ký kinh doanh:</li>
            </ul>
       
            <div class="absolute w-full bg-white left-0 bottom-0" style="height: 1px;">

            </div>
        </div>
        <div class="flex flex-col relative pt-3">
            <a href="" class="uppercase text-white text-xs mb-2">HOTLINE: 
                0868399649
                </a>
            <a href="" class="uppercase text-white text-xs mb-2 ">THỜI GIAN LÀM VIỆC: 
                8h-17h00, từ thứ 2 – thứ 7
                </a>
            <a href="" class="uppercase text-white text-xs mb-2">EMAIL: info@sharynkorea.vn</a>
            <div class="h-28  bg-gray-100 w-64 text-black">
                Iframe Facebook
            </div>
            <div class="bg-gray-100 h-16 w-32 my-4">
                <img src="../../../assets/bo-cong-thuong-mb.png" class="w-full h-full" alt=""/>
    
            </div>
            <div class="absolute w-full bg-white left-0 bottom-0" style="height: 1px;">

            </div>
        </div>
        <div class="pt-3 flex justify-center items-center ">
            <span class="uppercase text-white">&copy; sharyn - design by dsep</span>
        </div>
        
    </div>
</div>