<div class="relative pt-5 intro mobile lg:hidden">
  <div
    class="flex lg:flex-row flex-col justify-center items-center left-0 top-0 w-full h-full absolute z-10"
  >
    <div class="lg:w-1/2 lg:h-full h-3/5 relative">
      <div
        class="h-full absolute top-1/2 left-1/2 z-5 img-center"
        style="width: 250px"
      >
        <img class="w-full h-full" src="../../../assets/model-mb.png" alt="" />
      </div>
      <!-- <div class="absolute top-1/2 left-1/2 img-center opacity-70">
        <div class="logo" style="width: 350px; height: 125px">
          <img
            class="w-full h-full"
            src="../../../assets/logo-model.png"
            alt=""
          />
        </div>
      </div> -->
    </div>
    <div class="lg:w-1/2 relative lg:h-full h-2/5 flex justify-center flex-col">
      <h2 class="text-center font-black mb-0">
        SHARYN - Giải pháp hoàn hảo <br />
        dành cho làn da phụ nữ Việt Nam
      </h2>
      <p class="lg:pt-4 lg:w-3/4 text-center mx-4 lg:mx-0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
        placeat quod qui, minus recusandae in deserunt provident eos voluptas
        aliquam, alias eum impedit quam debitis atque eaque, dolorem error
        culpa.
      </p>
      <a href="#" class="text-black text-center pb-2">XEM THÊM</a>
    </div>
  </div>
  <div class="bg-gray-200 absolute left-0 top-0 w-full h-full rectangle"></div>
</div>
<div class="container lg:py-5">
  <div class="relative pt-5 intro hidden lg:block">
    <div
      class="flex lg:flex-row flex-col left-0 top-0 w-full h-full absolute z-10"
    >
      <div class="lg:w-1/2 h-full relative">
        <div
          class="h-full absolute top-1/2 left-1/2 bg-gray-500 z-5 img-center"
          style="width: 420px"
        >
          <img class="w-full h-full" src="../../../assets/model.png" alt="" />
        </div>
        <!-- <div
          class="absolute top-1/2 left-1/2 bg-red-500 z-10 img-center opacity-70"
        >
          <div class="logo" style="width: 350px; height: 125px">
            <img
              class="w-full h-full"
              src="../../../assets/logo-model-dk.png"
              alt=""
            />
          </div>
        </div> -->
      </div>
      <div class="lg:w-1/2 relative h-full flex justify-center flex-col">
        <div class="">
          <h2 class="font-black">
            SHARYN - Giải pháp hoàn hảo <br />
            dành cho làn da phụ nữ Việt Nam
          </h2>
          <p class="lg:pt-4 lg:w-3/4">
            Lấy cảm hứng từ những bông hồng Sharon - Quốc hoa xứ Kim Chi, sau 5
            năm hoạt động, Sharyn nhanh chóng trở thành thương hiệu mỹ phẩm cao
            cấp tại “thủ đô làm đẹp của Thế giới” và tiếp tục chinh phục thị
            trường các nước trong khu vực, trong đó có cả Việt Nam.
          </p>
          <a class="text-black" href="#">XEM THÊM</a>
        </div>
      </div>
    </div>
    <div class="absolute left-0 top-0 w-full h-full rectangle"></div>
  </div>

  <div class="product pt-5">
    <div class="flex">
      <div class="flex w-96 items-center">
        <i class="bg-red-100 lg:mr-5 mr-2 lg:h-10 lg:w-10 h-7 w-7">
          <img
            src="../../../assets/icon-home-page.png"
            class="w-full h-full"
            alt=""
          />
        </i>
        <div class="flex items-center">
          <h2 class="text-sm  text-blue-400 uppercase mb-0">
            sản phẩm điều trị
          </h2>
        </div>
      </div>
      <div class="w-full relative">
        <div
          class="absolute w-full z-0 right-0 top-1/2 bg-black"
          style="height: 1px"
        ></div>
      </div>
    </div>
    <div class="pt-3">
      <p>
        Sharyn luôn nhạy bén trong việc nắm bắt xu hướng làm đẹp hiện đại để cho
        ra nhiều sản phẩm mới, phù hợp với nhu cầu đang thay đổi từng ngày của
        ngành công nghiệp làm đẹp. Qua đó giúp chị em xinh đẹp, tự tin hơn với
        những sản phẩm tiện lợi nhưng không quá tốn kém.
      </p>
    </div>
    <div class="grid grid-cols-3 gap-grid">
      <div class="item-product">
        <a
          class="flex flex-col items-center justify-center text-black h-full product-item"
          href="#"
        >
          <div class="w-full h-full relative">
            <img
              src="../../../assets/dieu-tri-dk.png"
              class="w-full h-full lg:block hidden"
              alt=""
            />
            <img
              src="../../../assets/dieu-tri.png"
              class="w-full h-full lg:hidden"
              alt=""
              style="height: 100px"
            />

            <div
              class="absolute w-full h-full top-0 opacity-70 z-0 img-overlay"
            ></div>
            <div class="product-view absolute top-1/2 left-1/2 img-center z-10">
              <p class="">XEM TẤT CẢ</p>
            </div>
          </div>
          <div class="pt-3">
            <p class="font-black text-xs lg:text-sm">ĐIỀU TRỊ MỤN</p>
          </div>
        </a>
      </div>

      <div class="item-product">
        <a
          class="flex flex-col items-center justify-center text-black h-full product-item"
          href="#"
        >
          <div class="w-full h-full relative">
            <div
              class="absolute w-full h-full top-0 opacity-70 z-0 img-overlay"
            ></div>
            <img
              src="../../../assets/dieu-tri-dk.png"
              class="w-full h-full lg:block hidden"
              alt=""
            />
            <img
              src="../../../assets/dieu-tri.png"
              class="w-full h-full lg:hidden"
              alt=""
              style="height: 100px"
            />
            <div class="product-view absolute top-1/2 left-1/2 img-center z-10">
              <p class="">XEM TẤT CẢ</p>
            </div>
          </div>
          <div class="pt-3">
            <p class="font-black text-xs lg:text-sm">CHỐNG LÃO HÓA</p>
          </div>
        </a>
      </div>

      <div class="item-product">
        <a
          class="flex flex-col items-center justify-center text-black h-full product-item"
          href="#"
        >
          <div class="w-full h-full relative">
            <div
              class="absolute w-full h-full top-0 opacity-70 z-0 img-overlay"
            ></div>
            <img
              src="../../../assets/dieu-tri-dk.png"
              class="w-full h-full lg:block hidden"
              alt=""
            />
            <img
              src="../../../assets/dieu-tri.png"
              class="w-full h-full lg:hidden"
              style="height: 100px"
              alt=""
            />
            <div class="product-view absolute top-1/2 left-1/2 img-center z-10">
              <p class="">XEM TẤT CẢ</p>
            </div>
          </div>
          <div class="pt-3">
            <p class="font-black text-xs lg:text-sm">ĐIỀU TRỊ NÁM</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="product pt-5">
    <div class="flex">
      <div class="flex w-96 items-center">
        <i class="bg-red-100 lg:mr-5 mr-2 lg:h-10 lg:w-10 h-7 w-7">
          <img
            src="../../../assets/icon-home-page.png"
            class="w-full h-full"
            alt=""
          />
        </i>
        <div class="flex items-center">
          <h2 class="text-sm text-blue-400 uppercase mb-0">sản phẩm nổi bật</h2>
        </div>
      </div>
      <div class="w-full relative">
        <div
          class="absolute w-full z-0 right-0 top-1/2 bg-black"
          style="height: 1px"
        ></div>
      </div>
    </div>

    <div class="grid lg:grid-cols-4 grid-cols-2 gap-4 pt-3">
      <div class="lg:h-80 h-64">
        <a class="flex flex-col text-black h-full product-item" href="#">
          <div class="w-full h-full relative">
            <div
              class="absolute w-full h-full top-0 opacity-70 z-0 img-overlay"
            ></div>
            <img
              src="../../../assets/noibat-dk.png"
              class="w-full h-full lg:block hidden"
              alt=""
            />
            <img
              src="../../../assets/noibat.png"
              class="w-full h-full lg:hidden"
              alt=""
            />
            <div
              class="product-hot absolute top-1/2 left-1/2 img-center z-10 text-jutify"
            >
              <p class="text-justify text-sm lg:px-9">
                Miracle EX Spicule thúc đẩy quá trình tái tạo và sửa chữa tế bào
                da tổn thương từ sâu bên trong. Chỉ sau 1 liệu trình da đẹp hoàn
                hảo ngay tại nhà.
              </p>
            </div>
            <div
              class="product-hot absolute bottom-0 lg:pb-1 pb-0 left-1/2 img-center"
            >
              <p class="text-center text-lg font-black">MUA NGAY</p>
            </div>
            <div
              class="absolute top-2 right-2 rounded-2xl bg-blue-500 flex items-center justify-center"
            >
              <p class="text-white px-3 mb-0">Promo</p>
            </div>
          </div>
          <div class="pt-3">
            <p text-xs>Miracle EX Spicule</p>
            <div class="flex items-center">
              <p class="pr-2 mb-0">890.000đ</p>
              <div class="relative flex">
                <p class="text-xs mb-0">1.780.000đ</p>
                <div class="absolute top-1/2 left-0 w-full rotate-line"></div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="lg:h-80 h-64">
        <a class="flex flex-col text-black h-full product-item" href="#">
          <div class="w-full h-full relative">
            <div
              class="absolute w-full h-full top-0 opacity-70 z-0 img-overlay"
            ></div>
            <img
              src="../../../assets/noibat-dk.png"
              class="w-full h-full lg:block hidden"
              alt=""
            />
            <img
              src="../../../assets/noibat.png"
              class="w-full h-full lg:hidden"
              alt=""
            />
            <div
              class="product-hot absolute top-1/2 left-1/2 img-center z-10 text-jutify"
            >
              <p class="text-justify text-sm lg:px-9">
                DNA Sharyn - “trợ thủ” đắc lực trong điều trị sẹo rỗ với khả
                năng phục hồi lên đến 90%, ngay lập tức làn da của bạn sẽ được
                căng bóng, mịn màng từ sâu bên trong.
              </p>
            </div>
            <div
              class="product-hot absolute bottom-0 lg:pb-1 pb-0 left-1/2 img-center"
            >
              <p class="text-center text-lg font-black">MUA NGAY</p>
            </div>
            <div
              class="absolute top-2 right-2 rounded-2xl bg-blue-500 flex items-center justify-center"
            >
              <p class="text-white px-3 mb-0">Promo</p>
            </div>
          </div>
          <div class="pt-3">
            <p class="font-black">DNA Sharyn</p>
            <div class="flex items-center">
              <p class="pr-2 mb-0">890.000đ</p>
              <div class="relative flex">
                <p class="text-xs mb-0">1.780.000đ</p>
                <div class="absolute top-1/2 left-0 w-full rotate-line"></div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="lg:h-80 h-64">
        <a class="flex flex-col text-black h-full product-item" href="#">
          <div class="w-full h-full relative">
            <div
              class="absolute w-full h-full top-0 opacity-70 z-0 img-overlay"
            ></div>
            <img
              src="../../../assets/noibat-dk.png"
              class="w-full h-full lg:block hidden"
              alt=""
            />
            <img
              src="../../../assets/noibat.png"
              class="w-full h-full lg:hidden"
              alt=""
            />
            <div
              class="product-hot absolute top-1/2 left-1/2 img-center z-10 text-jutify"
            >
              <p class="text-justify text-sm lg:px-9">
                Với kết cấu mỏng nhẹ, Cream 4in1 có khả năng dưỡng trắng, cấp
                ẩm, chống nắng và ngăn ngừa lão hóa. Chỉ 1 phút mỗi sáng cho làn
                da đẹp rạng rỡ suốt ngày dài.
              </p>
            </div>
            <div
              class="product-hot absolute bottom-0 lg:pb-1 pb-0 left-1/2 img-center"
            >
              <p class="text-center text-lg font-black">MUA NGAY</p>
            </div>
            <div
              class="absolute top-2 right-2 rounded-2xl bg-red-500 flex items-center justify-center"
            >
              <p class="text-white px-3 mb-0">Best Seller</p>
            </div>
          </div>
          <div class="pt-3">
            <p class="font-black">Cream 4in1</p>
            <div class="flex items-center">
              <p class="pr-2 mb-0">890.000đ</p>
              <div class="relative flex">
                <p class="text-xs mb-0">1.780.000đ</p>
                <div class="absolute top-1/2 left-0 w-full rotate-line"></div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="lg:h-80 h-64">
        <a class="flex flex-col text-black h-full product-item" href="#">
          <div class="w-full h-full relative">
            <div
              class="absolute w-full h-full top-0 opacity-70 z-0 img-overlay"
            ></div>
            <img
              src="../../../assets/noibat-dk.png"
              class="w-full h-full lg:block hidden"
              alt=""
            />
            <img
              src="../../../assets/noibat.png"
              class="w-full h-full lg:hidden"
              alt=""
            />
            <div
              class="product-hot absolute top-1/2 left-1/2 img-center z-10 text-jutify"
            >
              <p class="text-justify text-sm lg:px-9">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta
                possimus ratione fugiat iure dolor culpa maxime, nam voluptates
                doloremque velit praesentium,
              </p>
            </div>
            <div
              class="product-hot absolute bottom-0 lg:pb-1 pb-0 left-1/2 img-center"
            >
              <p class="text-center text-lg font-black">MUA NGAY</p>
            </div>
            <div
              class="absolute top-2 right-2 rounded-2xl bg-gray-900 flex items-center justify-center"
            >
              <p class="text-white px-3 mb-0">Out of Stock</p>
            </div>
          </div>
          <div class="pt-3">
            <p class="font-black">Miracle Ex Spicule</p>
            <div class="flex items-center">
              <p class="pr-2 mb-0">890.000đ</p>
              <div class="relative flex">
                <p class="text-xs mb-0">1.780.000đ</p>
                <div class="absolute top-1/2 left-0 w-full rotate-line"></div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="pt-5">
    <div class="flex">
      <div class="flex items-center">
        <i class="bg-red-100 lg:mr-5 mr-2 lg:h-10 lg:w-10 h-7 w-7">
          <img
            src="../../../assets/icon-home-page.png"
            class="w-full h-full"
            alt=""
          />
        </i>
        <div class="flex items-center lg:w-96 w-60">
          <h2 class="text-sm text-blue-400 uppercase mb-0">
            Ý kiến chuyên gia/khách hàng
          </h2>
        </div>
      </div>
      <div class="w-full relative">
        <div
          class="absolute w-full z-0 right-0 top-1/2 bg-black"
          style="height: 1px"
        ></div>
      </div>
    </div>
    <div class="hidden lg:block">
      <div class="grid grid-cols-3 gap-8 pt-3">
        <div class="flex flex-col items-center" style="height: 400px">
          <div class="relative" style="width: 150px; height: 150px">
            <img
              src="../../../assets/ykien.png"
              class="absolute top-1/2 left-1/2 img-center w-full h-full rounded-full object-contains"
              alt=""
            />
          </div>
          <div class="mx-5 my-2">
            <p class="text-center">
              “Là thương hiệu mỹ lớn đến từ Hàn Quốc nên mình rất yên tâm và tin
              tưởng lựa chọn Sharyn. Hầu hết khi sử dụng đều không gặp bất cứ
              ảnh hưởng tiêu cực gì đến làn da. Nếu có ý định “kết thân” với sản
              phẩm của thương hiệu này thì bạn không cần lo lắng về vấn đề an
              toàn.”
            </p>
          </div>
          <div class="">
            <p>Khách hàng <strong class="font-black">THẢO TIÊN</strong></p>
          </div>
        </div>

        <div class="flex flex-col items-center" style="height: 400px">
          <div class="relative" style="width: 150px; height: 150px">
            <img
              src="../../../assets/ykien.png"
              class="absolute top-1/2 left-1/2 img-center w-full h-full rounded-full object-contains"
              alt=""
            />
          </div>
          <div class="mx-5 my-2">
            <p class="text-center">
              “Bạn vẫn có làn da đẹp mà không cần phải đến spa để chăm sóc mỗi
              tuần với các dòng sản phẩm của Sharyn. Nó không chỉ làm mờ nếp
              nhăn, vết chân chim ở khóe mắt, khóe miệng – nỗi lo lắng bấy lâu
              của mình, mà ngay cả lỗ chân lông cũng được se khít, vết thâm sạm
              nám cũng mờ và giảm hẳn. “Xuất sắc” nhất của sản phẩm nhà Sharyn
              còn nằm ở chỗ KHÔNG gây kích ứng da như các sản phẩm chứa của
              thương hiệu khác.”
            </p>
          </div>
          <div class="">
            <p>Diễn viên <strong class="font-black">Quỳnh Nga</strong></p>
          </div>
        </div>

        <div class="flex flex-col items-center" style="height: 400px">
          <div class="relative" style="width: 150px; height: 150px">
            <img
              src="../../../assets/ykien.png"
              class="absolute top-1/2 left-1/2 img-center w-full h-full rounded-full object-contains"
              alt=""
            />
          </div>
          <div class="mx-5 my-2">
            <p class="text-center">
              “Mỹ phẩm Sharyn đảm bảo chất lượng cao, có nhãn mác đầy đủ bao gồm
              thành phần, công dụng, hạn sử dụng và mã sản phẩm. Mỹ phẩm Sharyn
              là sự lựa chọn tốt nhất cho các vấn đề về làn da của bạn.”
            </p>
          </div>
          <div class="">
            <p>
              Bác sĩ da liễu
              <strong class="font-black">Nguyễn Thị Ngọc Mai</strong>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="lg:hidden">
      <mdb-carousel [controls]="true" [indicators]="true">
        <mdb-carousel-item class="relative">
          <div class="flex flex-col items-center" style="height: 450px">
            <div class="relative" style="width: 150px; height: 150px">
              <img
                src="../../../assets/ykien.png"
                class="absolute top-1/2 left-1/2 img-center w-full h-full rounded-full object-contains"
                alt=""
              />
            </div>
            <div class="mx-5 my-2">
              <p class="text-center">
                “Là thương hiệu mỹ lớn đến từ Hàn Quốc nên mình rất yên tâm và
                tin tưởng lựa chọn Sharyn. Hầu hết khi sử dụng đều không gặp bất
                cứ ảnh hưởng tiêu cực gì đến làn da. Nếu có ý định “kết thân”
                với sản phẩm của thương hiệu này thì bạn không cần lo lắng về
                vấn đề an toàn.”
              </p>
            </div>
            <div class="">
              <p>Khách hàng <strong class="font-black">THẢO TIÊN</strong></p>
            </div>
          </div>
        </mdb-carousel-item>

        <mdb-carousel-item class="relative">
          <div class="flex flex-col items-center" style="height: 450px">
            <div class="relative" style="width: 150px; height: 150px">
              <img
                src="../../../assets/ykien.png"
                class="absolute top-1/2 left-1/2 img-center w-full h-full rounded-full object-contains"
                alt=""
              />
            </div>
            <div class="mx-5 my-2">
              <p class="text-center">
                “Bạn vẫn có làn da đẹp mà không cần phải đến spa để chăm sóc mỗi
                tuần với các dòng sản phẩm của Sharyn. Nó không chỉ làm mờ nếp
                nhăn, vết chân chim ở khóe mắt, khóe miệng – nỗi lo lắng bấy lâu
                của mình, mà ngay cả lỗ chân lông cũng được se khít, vết thâm
                sạm nám cũng mờ và giảm hẳn. “Xuất sắc” nhất của sản phẩm nhà
                Sharyn còn nằm ở chỗ KHÔNG gây kích ứng da như các sản phẩm chứa
                của thương hiệu khác.”
              </p>
            </div>
            <div class="">
              <p>Diễn viên <strong class="font-black">Quỳnh Nga</strong></p>
            </div>
          </div>
        </mdb-carousel-item>

        <mdb-carousel-item class="relative">
          <div class="flex flex-col items-center" style="height: 450px">
            <div class="relative" style="width: 150px; height: 150px">
              <img
                src="../../../assets/ykien.png"
                class="absolute top-1/2 left-1/2 img-center w-full h-full rounded-full object-contains"
                alt=""
              />
            </div>
            <div class="mx-5 my-2">
              <p class="text-center">
                “Mỹ phẩm Sharyn đảm bảo chất lượng cao, có nhãn mác đầy đủ bao
                gồm thành phần, công dụng, hạn sử dụng và mã sản phẩm. Mỹ phẩm
                Sharyn là sự lựa chọn tốt nhất cho các vấn đề về làn da của
                bạn.”
              </p>
            </div>
            <div class="">
              <p>
                Bác sĩ da liễu
                <strong class="font-black">Nguyễn Thị Ngọc Mai</strong>
              </p>
            </div>
          </div>
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
  </div>

  <div class="lg:pt-5">
    <div class="flex">
      <div class="flex lg:w-80 w-56 items-center">
        <i class="bg-red-100 lg:mr-5 mr-2 lg:h-10 lg:w-10 h-7 w-7">
          <img
            src="../../../assets/icon-home-page.png"
            class="w-full h-full"
            alt=""
          />
        </i>
        <div class="flex items-center">
          <h2 class="text-sm text-blue-400 uppercase mb-0">bài viết mới</h2>
        </div>
      </div>
      <div class="w-full relative">
        <div
          class="absolute w-full z-0 right-0 top-1/2 bg-black"
          style="height: 1px"
        ></div>
      </div>
    </div>
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-4 pt-4">
      <div class="lg:h-40 h-auto flex">
        <div class="lg:w-1/4 w-2/5 h-full">
          <img src="../../../assets/new-dk.png" class="w-full h-full" alt="" />
        </div>
        <div class="lg:w-3/4 w-3/5 px-3">
          <h2 class="uppercase mb-0">
            Sharyn - “Ngôi sao mới” trong làng mỹ phẩm chăm sóc da Hàn Quốc
          </h2>
          <p class="des">
            Lấy cảm hứng từ ý nghĩa những bông hồng Sharon - Quốc hoa xứ kim
            chi, thương hiệu mỹ phẩm chăm sóc da cao cấp Sharyn nhanh chóng trở
            thành lựa chọn hàng đầu của những quý cô yêu thích làn da chuẩn mướt
            tự nhiên.
          </p>
          <a class="lg:hidden text-black" href="#">Xem thêm</a>
        </div>
      </div>

      <div class="lg:h-40 h-auto flex">
        <div class="lg:w-1/4 w-2/5 h-full">
          <img src="../../../assets/new-dk.png" class="w-full h-full" alt="" />
        </div>
        <div class="lg:w-3/4 w-3/5 px-3">
          <h2 class="text-jutify uppercase mb-0">
            Mỹ phẩm chăm sóc da Sharyn của Hàn Quốc
          </h2>
          <p class="des">
            Hai dòng sản phẩm nổi bật của Sharyn là Miracle EX Spicule và Cream
            4 in 1 đều có thành phần thiên nhiên, tác dụng dưỡng ẩm, chống nắng.
          </p>
          <a class="lg:hidden text-black" href="#">Xem thêm</a>
        </div>
      </div>

      <div class="lg:h-40 h-auto flex">
        <div class="lg:w-1/4 w-2/5 h-full">
          <img src="../../../assets/new-dk.png" class="w-full h-full" alt="" />
        </div>
        <div class="lg:w-3/4 w-3/5 px-3">
          <h2 class="text-jutify uppercase mb-0">
            Review Sharyn Miracle Ex Spicule: làn da tươi trẻ không cần đến spa
          </h2>
          <p class="des">
            Bạn đang quan tâm tới mỹ phẩm có tên gọi khá dài. Sharyn Miracle Ex
            Spicule. Không biết review em nó có tốt không? Giá bao nhiêu? Mua
            hàng chính hãng ở đâu? Trong bài viết này, mình sẽ giúp bạn hiểu rõ
            hơn về sản phẩm này. Nào chúng ta cùng bắt đầu nhé.
          </p>
          <a class="lg:hidden text-black" href="#">Xem thêm</a>
        </div>
      </div>

      <div class="lg:h-40 h-auto flex">
        <div class="lg:w-1/4 w-2/5 h-full">
          <img src="../../../assets/new-dk.png" class="w-full h-full" alt="" />
        </div>
        <div class="lg:w-3/4 w-3/5 px-3">
          <h2 class="text-jutify uppercase mb-0">
            chăm sóc làn da<br />
            mong manh của ban
          </h2>
          <p class="des">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            modi laudantium nobis reiciendis molestiae, quia tempore! Eveniet a
            quos exercitationem,
          </p>
          <a class="lg:hidden text-black" href="#">Xem thêm</a>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5">
    <div class="flex lg:hidden">
      <div class="flex items-center">
        <i class="bg-red-100 lg:mr-5 mr-2 lg:h-10 lg:w-10 h-7 w-7">
          <img
            src="../../../assets/icon-home-page.png"
            class="w-full h-full"
            alt=""
          />
        </i>
        <div class="flex items-center w-48">
          <h2 class="text-sm text-blue-400 uppercase mb-0">
            khách hàng của sharyn
          </h2>
        </div>
      </div>
      <div class="w-full relative">
        <div
          class="absolute w-full z-0 right-0 top-1/2 bg-black"
          style="height: 1px"
        ></div>
      </div>
    </div>
    <div class="hidden lg:block">
      <div class="relative flex justify-center items-center">
        <div
          class="absolute w-4/12 left-0 top-1/2 bg-black"
          style="height: 1px"
        ></div>
        <div class="text-center w-4/12">
          <span class="text-3xl uppercase font-black text-blue-400"
            >khách hàng của sharyn</span
          >
        </div>
        <div
          class="absolute w-4/12 right-0 top-1/2 bg-black"
          style="height: 1px"
        ></div>
      </div>
    </div>
    <div class="pt-5">
      <owl-carousel-o [options]="customOptions" class="carousel">
        <ng-template carouselSlide>
          <div class="h-24 w-28">
            <img
              src="../../../assets/baochi.png"
              class="w-full h-full"
              alt=""
            /></div
        ></ng-template>
        <ng-template carouselSlide>
          <div class="h-24 w-28">
            <img
              src="../../../assets/baochi.png"
              class="w-full h-full"
              alt=""
            /></div
        ></ng-template>
        <ng-template carouselSlide>
          <div class="h-24 w-28">
            <img
              src="../../../assets/baochi.png"
              class="w-full h-full"
              alt=""
            /></div
        ></ng-template>
        <ng-template carouselSlide>
          <div class="h-24 w-28">
            <img
              src="../../../assets/baochi.png"
              class="w-full h-full"
              alt=""
            /></div
        ></ng-template>
        <ng-template carouselSlide>
          <div class="h-24 w-28">
            <img
              src="../../../assets/baochi.png"
              class="w-full h-full"
              alt=""
            /></div
        ></ng-template>
        <ng-template carouselSlide>
          <div class="h-24 w-28">
            <img
              src="../../../assets/baochi.png"
              class="w-full h-full"
              alt=""
            /></div
        ></ng-template>
        <ng-template carouselSlide>
          <div class="h-24 w-28">
            <img
              src="../../../assets/baochi.png"
              class="w-full h-full"
              alt=""
            /></div
        ></ng-template>
        <ng-template carouselSlide>
          <div class="h-24 w-28">
            <img
              src="../../../assets/baochi.png"
              class="w-full h-full"
              alt=""
            /></div
        ></ng-template>
        <ng-template carouselSlide>
          <div class="h-24 w-28">
            <img
              src="../../../assets/baochi.png"
              class="w-full h-full"
              alt=""
            /></div
        ></ng-template>
      </owl-carousel-o>
    </div>
  </div>

  <div class="pt-5">
    <div class="flex lg:hidden">
      <div class="flex items-center">
        <i class="bg-red-100 lg:mr-5 mr-2 lg:h-10 lg:w-10 h-7 w-7">
          <img
            src="../../../assets/icon-home-page.png"
            class="w-full h-full"
            alt=""
          />
        </i>
        <div class="flex items-center w-48">
          <h2 class="text-sm text-blue-400 uppercase mb-0">
            báo chí nói gì về sharyn
          </h2>
        </div>
      </div>
      <div class="w-full relative">
        <div
          class="absolute w-full z-0 right-0 top-1/2 bg-black"
          style="height: 1px"
        ></div>
      </div>
    </div>
    <div class="hidden lg:block">
      <div class="relative flex justify-center items-center">
        <div
          class="absolute w-4/12 left-0 top-1/2 bg-black"
          style="height: 1px"
        ></div>
        <div class="text-center w-4/12">
          <span class="text-3xl uppercase font-black text-blue-400"
            >Báo chí nói gì về sharyn</span
          >
        </div>
        <div
          class="absolute w-4/12 right-0 top-1/2 bg-black"
          style="height: 1px"
        ></div>
      </div>
    </div>

    <ul class="grid lg:grid-cols-6 grid-cols-3 gap-4 pt-5 p-0 items-center">
      <li class="lg:h-24 lg:w-24">
        <img src="../../../assets/baochi.png" class="w-full h-full" alt="" />
      </li>
      <li class="lg:h-24 lg:w-24">
        <img src="../../../assets/baochi.png" class="w-full h-full" alt="" />
      </li>
      <li class="lg:h-24 lg:w-24">
        <img src="../../../assets/baochi.png" class="w-full h-full" alt="" />
      </li>
      <li class="lg:h-24 lg:w-24">
        <img src="../../../assets/baochi.png" class="w-full h-full" alt="" />
      </li>
      <li class="lg:h-24 lg:w-24">
        <img src="../../../assets/baochi.png" class="w-full h-full" alt="" />
      </li>
      <li class="lg:h-24 lg:w-24">
        <img src="../../../assets/baochi.png" class="w-full h-full" alt="" />
      </li>
    </ul>
  </div>

  <div class="pt-5 lg:block hidden">
    <div class="flex w-full h-96">
      <div class="lg:w-1/2 w-2/5 relative">
        <div
          class="bg-red-100 absolute lg:right-2 bottom-0 lg:h-5/6 h-72 w-4/5 lg:w-1/2"
        >
          <img
            src="../../../assets/tuvan-mb.png"
            class="w-full h-full"
            alt=""
          />
        </div>
      </div>
      <div class="lg:w-1/2 w-3/5 relative">
        <div class="absolute lg:left-8 top-1/2 lg:w-2/4 center w-full">
          <span class="lg:text-2xl text-xl text-blue-400 uppercase font-black"
            >bạn có hẹn<br class="lg:hidden" />
            tư vấn online<br />
            cùng sharyn ?</span
          >

          <div class="pt-3 pb-3">
            <input
              type="text"
              placeholder="SỐ ĐIỆN THOẠI"
              id="small-input"
              class="block px-3 lg:py-2 py-1 lg:w-full w-3/4 text-gray-900 bg-gray-50 rounded-2xl border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
          </div>
          <div class="">
            <a
              href=""
              class="text-white uppercase p-2 bg-blue-500 rounded-2xl font-black"
              >tư vấn ngay</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pt-3 lg:hidden">
  <div class="flex w-full h-80">
    <div class="w-1/2 relative">
      <div
        class="bg-red-100 absolute lg:right-2 bottom-0 lg:h-5/6 h-72 w-full lg:w-1/2"
      >
        <img src="../../../assets/tuvan.png" class="w-full h-full" alt="" />
      </div>
    </div>
    <div class="w-1/2 w-3/5 relative">
      <div class="absolute lg:left-8 left-2 top-1/2 lg:w-2/4 center w-full">
        <span class="lg:text-2xl text-xl text-blue-400 uppercase font-black"
          >bạn có hẹn<br class="lg:hidden" />
          tư vấn on<br />
          cùng sharyn ?</span
        >

        <div class="pt-3 pb-3">
          <input
            type="text"
            placeholder="SỐ ĐIỆN THOẠI"
            id="small-input"
            class="block px-3 lg:py-2 py-1 lg:w-full w-3/4 text-gray-900 bg-gray-50 rounded-2xl border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
        <div class="">
          <a
            href=""
            class="text-white uppercase p-2 bg-blue-500 rounded-2xl font-black"
            >tư vấn ngay</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
