<div class="container mt-4 bg-[#fafafa] lg:p-6 pb-6 lg:block hidden ">
    <mdb-carousel [controls]="true" [indicators]="true" class="custom-carousel" >
        
        <mdb-carousel-item class="relative ">
            <div class="relative lg:h-96 h-72 bg-white">
                <div class="lg:w-4/6 w-3/4 h-full  right-0 lg:relative absolute">
                  <div class=" h-full">
                    <img class="w-full h-full lg:block hidden" src="../../../assets/carousel-homepage.png"/>
                    <img class="w-full h-full lg:hidden" src="../../../assets/carousel-homepage-mb.png"/>

                  </div>
                </div>
                <div class="lg:w-2/6  absolute lg:right-0 top-1/2 center">
                  <div class=" flex flex-col justify-center">
                      <div class="relative lg:w-64">
                          <span class="lg:text-5xl text-3xl  text-blue-400 tracking-widest ">HA <br/>AMPOULE </span>
                          <div class="absolute w-full bottom-0 bg-black" style="height: 1px;"></div>
                      </div>
                      <div class="flex flex-col mt-2">
                          <span class="uppercase text-black font-medium lg:text-xl lg:pb-2">cấp ẩm - dưỡng da</span>
                          <span class="uppercase text-black font-medium lg:text-xl">chăm sóc toàn diện </span>
        
                      </div>
                      <div class=" flex pt-5">
                          <span class="text-sm uppercase text-black mr-4"> mua ngay</span>
                          <i>icon</i>
                      </div>
                  </div>
                </div>
              </div>
          </mdb-carousel-item>

          <mdb-carousel-item class="relative">
            <div class="relative lg:h-96 h-72 bg-white">
                <div class="lg:w-4/6 w-3/4 h-full  right-0 lg:relative absolute">
                  <div class=" h-full">
                    <img class="w-full h-full lg:block hidden" src="../../../assets/carousel-homepage.png"/>
                    <img class="w-full h-full lg:hidden" src="../../../assets/carousel-homepage-mb.png"/>
                  </div>
                </div>
                <div class="lg:w-2/6  absolute lg:right-0 top-1/2 center">
                  <div class=" flex flex-col justify-center">
                      <div class="relative lg:w-64">
                          <span class="lg:text-5xl text-3xl  text-blue-400 tracking-widest ">HA <br/>AMPOULE </span>
                          <div class="absolute w-full bottom-0 bg-black" style="height: 1px;"></div>
                      </div>
                      <div class="flex flex-col mt-2">
                          <span class="uppercase text-black font-medium lg:text-xl lg:pb-2">cấp ẩm - dưỡng da</span>
                          <span class="uppercase text-black font-medium lg:text-xl">chăm sóc toàn diện </span>
        
                      </div>
                      <div class=" flex pt-5">
                          <span class="text-sm uppercase text-black mr-4"> mua ngay</span>
                          <i>icon</i>
                      </div>
                  </div>
                </div>
              </div>
          </mdb-carousel-item>
        
          <mdb-carousel-item class="relative">
            <div class="relative lg:h-96 h-72 bg-white">
                <div class="lg:w-4/6 w-3/4 h-full  right-0 lg:relative absolute">
                  <div class=" h-full">
                    <img class="w-full h-full lg:block hidden" src="../../../assets/carousel-homepage.png"/>
                    <img class="w-full h-full lg:hidden" src="../../../assets/carousel-homepage-mb.png"/>
                  </div>
                </div>
                <div class="lg:w-2/6  absolute lg:right-0 top-1/2 center">
                  <div class=" flex flex-col justify-center">
                      <div class="relative lg:w-64">
                          <span class="lg:text-5xl text-3xl  text-blue-400 tracking-widest ">HA <br/>AMPOULE </span>
                          <div class="absolute w-full bottom-0 bg-black" style="height: 1px;"></div>
                      </div>
                      <div class="flex flex-col mt-2">
                          <span class="uppercase text-black font-medium lg:text-xl lg:pb-2">cấp ẩm - dưỡng da</span>
                          <span class="uppercase text-black font-medium lg:text-xl">chăm sóc toàn diện </span>
        
                      </div>
                      <div class=" flex pt-5">
                          <span class="text-sm uppercase text-black mr-4"> mua ngay</span>
                          <i>icon</i>
                      </div>
                  </div>
                </div>
              </div>
          </mdb-carousel-item>
          
      </mdb-carousel>

      
</div>
<mdb-carousel [controls]="true" [indicators]="true"  class="relative lg:hidden pb-5">
        
  <mdb-carousel-item>
      <div class="relative lg:h-96 h-72 bg-white">
          <div class="lg:w-4/6 w-3/4 h-full  right-0 lg:relative absolute">
            <div class=" h-full">
              <img class="w-full h-full lg:block hidden" src="../../../assets/carousel-homepage.png"/>
              <img class="w-full h-full lg:hidden" src="../../../assets/carousel-homepage-mb.png"/>

            </div>
          </div>
          <div class="lg:w-2/6  absolute lg:right-0 top-1/2 center">
            <div class=" flex flex-col justify-center">
                <div class="relative lg:w-64">
                    <span class="lg:text-5xl text-3xl  text-blue-400 tracking-widest ">HA <br/>AMPOULE </span>
                    <div class="absolute w-full bottom-0 bg-black" style="height: 1px;"></div>
                </div>
                <div class="flex flex-col mt-2">
                    <span class="uppercase text-black font-medium lg:text-xl lg:pb-2">cấp ẩm - dưỡng da</span>
                    <span class="uppercase text-black font-medium lg:text-xl">chăm sóc toàn diện </span>
  
                </div>
                <div class=" flex pt-5">
                    <span class="text-sm uppercase text-black mr-4"> mua ngay</span>
                    <i>icon</i>
                </div>
            </div>
          </div>
        </div>
    </mdb-carousel-item>

    <mdb-carousel-item class="relative">
      <div class="relative lg:h-96 h-72 bg-white">
          <div class="lg:w-4/6 w-3/4 h-full  right-0 lg:relative absolute">
            <div class=" h-full">
              <img class="w-full h-full lg:block hidden" src="../../../assets/carousel-homepage.png"/>
              <img class="w-full h-full lg:hidden" src="../../../assets/carousel-homepage-mb.png"/>
            </div>
          </div>
          <div class="lg:w-2/6  absolute lg:right-0 top-1/2 center">
            <div class=" flex flex-col justify-center">
                <div class="relative lg:w-64">
                    <span class="lg:text-5xl text-3xl  text-blue-400 tracking-widest ">HA <br/>AMPOULE </span>
                    <div class="absolute w-full bottom-0 bg-black" style="height: 1px;"></div>
                </div>
                <div class="flex flex-col mt-2">
                    <span class="uppercase text-black font-medium lg:text-xl lg:pb-2">cấp ẩm - dưỡng da</span>
                    <span class="uppercase text-black font-medium lg:text-xl">chăm sóc toàn diện </span>
  
                </div>
                <div class=" flex pt-5">
                    <span class="text-sm uppercase text-black mr-4"> mua ngay</span>
                    <i>icon</i>
                </div>
            </div>
          </div>
        </div>
    </mdb-carousel-item>
  
    <mdb-carousel-item class="relative">
      <div class="relative lg:h-96 h-72 bg-white">
          <div class="lg:w-4/6 w-3/4 h-full  right-0 lg:relative absolute">
            <div class=" h-full">
              <img class="w-full h-full lg:block hidden" src="../../../assets/carousel-homepage.png"/>
              <img class="w-full h-full lg:hidden" src="../../../assets/carousel-homepage-mb.png"/>
            </div>
          </div>
          <div class="lg:w-2/6  absolute lg:right-0 top-1/2 center">
            <div class=" flex flex-col justify-center">
                <div class="relative lg:w-64">
                    <span class="lg:text-5xl text-3xl  text-blue-400 tracking-widest ">HA <br/>AMPOULE </span>
                    <div class="absolute w-full bottom-0 bg-black" style="height: 1px;"></div>
                </div>
                <div class="flex flex-col mt-2">
                    <span class="uppercase text-black font-medium lg:text-xl lg:pb-2">cấp ẩm - dưỡng da</span>
                    <span class="uppercase text-black font-medium lg:text-xl">chăm sóc toàn diện </span>
  
                </div>
                <div class=" flex pt-5">
                    <span class="text-sm uppercase text-black mr-4"> mua ngay</span>
                    <i>icon</i>
                </div>
            </div>
          </div>
        </div>
    </mdb-carousel-item>
</mdb-carousel>